footer{
    position: relative;
    width:100%;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    bottom: 0px;
    margin-top: 4%;
    font-size: 14px;
}

span{
    color: rgb(0, 187, 211);
    font-weight: bold;
}