.project{
    margin-top: 50px;
    margin-left:5%;
    color: rgb(0, 187, 211);
    margin-right: 60%;
}

.subprojects{
    margin-left: 7%;
    margin-top: 50px;
}

.ps{
    margin-top:70px;
}

.tl{
    margin-left:10%;
    margin-top: 35px;
    font-weight:bold;
}

iframe{
    margin-top:20px;
    margin-left:7%;
    margin-right:7%;
    width:85%;
    height:680px;
}

.pseditscontainer{
    columns: 4;
    text-align: center;
    margin-top: 20px;
    margin-left: 7%;
    margin-right:5%
}

.pseditsbox{
    margin-bottom: 20px;
}

.pseditsimage{
    width:320px;
}

a{
    text-decoration: none;
    margin-left:12%;
    margin-top: 12px;
    display: inline-block;
}

a:hover{
    text-decoration: underline;
    color: rgb(0, 187, 211);
}

.rp{
    margin-left: 12%;
    margin-top: 30px;
    width: 100%;
    width: 800px;
    border-radius: 8px;
}


@media (max-width:1462px){
    .pseditscontainer{
        columns:3;
    }
}

@media (max-width:1098px){
    .pseditscontainer{
        columns:2;
    }
    .rp{
        width:620px;
    }
}

@media (max-width:732px){
    .pseditscontainer{
        columns:1;
    }
    .rp{
        width:500px;
    }
}

@media (max-width:600px){
    .rp{
        width:400px;
    }
}

@media (max-width:500px){
    .rp{
        width:350px;
    }
}

@media (max-width:445px){
    .rp{
        width:300px;
    }
}

@media (max-width:375px){
    .pseditsimage{
        width:260px;
    }
    .rp{
        width:250px;
    }
}

